# old vinotes 
.vinotes_old/

# pycache folders
.vinotes/templates/__pycache__/
.vinotes/utils/__pycache__/
.vinotes/vinotes/__pycache__/

# poetry test dir 
.vinotes/tests/

# vinotes dev_utils directory 
.vinotes/dev_utils/

# smyk07's testing directory
testdir/
